<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  

</head>
<body>
  <%- include("components/header", {username: username, profilepic: profilepic}) %>
  

 
  
  <script>
    function logout() {
    // Make a POST request to the server to invalidate the session or perform any other logout-related tasks
    fetch("/logout", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({}),
    })
      .then((response) => {
        if (response.ok) {
          // Logout successful, redirect to the login page or perform any other action
          window.location.href = "/login"; // Replace "/login" with the URL of your login page
        } else {
          console.error("Logout failed:", response.status);
          // Handle logout failure, display an error message, or perform any other appropriate action
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }
  </script>
</body>
</html>
